<!-- <nav>
    <a href="/"><h1>Aller-Retour</h1></a>
    <ul>
        <a href='/connexion'><li>Connexion</li></a>
        <a href='/inscription'><li>Inscription</li></a>
        <a href='/mon-compte'><li>Mon compte</li></a>
        <a href='/paiement'><li>Paiement</li></a>
        <a href='/trajets'><li>Les trajets demandés</li></a>
        <a href='/demander-un-trajet'><li>Demander un trajet</li></a>
    </ul>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FF5757;">
    <a class="navbar-brand" href="/">
        <img src="/images/logo_AR.png" width="50" height="50" class="align-center">
    </a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a style="color: white;" class="nav-item nav-link active" href="/trajets">Les trajets demandés</a>
            <a style="color: white;" class="nav-item nav-link" href="#">Pricing</a>
        </div>
    </div>

    <a href="/connexion"><button class="btn btn-outline-light my-2 my-sm-0" type="submit">Connexion</button></a>

</nav>