<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FF5757;">
    <a class="navbar-brand" href="/">
        <img src="/images/logo_AR.png" width="50" height="50" class="align-center">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="outline: none;">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <%if(isLoggedIn){%>
            <li class="nav-item active">
                <a style="color: white;" class="nav-item nav-link active" href="/trajets">Les trajets demandés</a>
            </li>
            <li class="nav-item">
                <a style="color: white;" class="nav-item nav-link" href="/acheter-points">Acheter des points</a>
            </li>
            <li class="nav-item">
                <a style="color: white;" class="nav-item nav-link" href="/boutique">Boutique</a>
            </li>
            <%}%>
          </ul>
          <%if(!isLoggedIn){%>
          <div class="form-inline my-2 my-lg-0">
            <a href="/connexion"><button class="btn btn-outline-light my-2 my-sm-0" type="submit">Connexion</button></a>
          </div>
          <%}else if(typeof points !== 'undefined'){%>
            <div style="text-align:center;background-color: white;border-radius: 6px; padding: 2px;font-weight: bold;">
                <span><%=points%></span>
                <img src="/images/devise.png" width="20" height="20" class="align-center">
            </div>
          <%}%>
    </div>
</nav>