<%-include('./includes/header.ejs')%>

<link rel='stylesheet' href='/stylesheets/acheter-points.css' />
</head>
<%-include('./includes/navigation.ejs')%>

<body>
    <h1>Acheter des points</h1>
    <div class="container">
        <div class="my-card" style="padding-left: 50px;padding-right: 50px; padding-bottom: 20px; margin-bottom: 50px;">
            <%-include('./pricing-table.ejs')%>  
            <div style="text-align: center;">
                <h2 style="font-weight: bold;">Des points pour covoiturer, et soutenir les commerces locaux...</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, possimus! Quisquam reprehenderit
                    tempore, saepe, ratione non odio rerum veritatis quidem quae, unde officia consequatur in quia
                    excepturi numquam cum sint!</p>
            </div>      
    </div>
</body>

</html>