<section class="pricing py-5">
    <div class="container">
      <div class="row">
        <!-- Free Tier -->
        <div class="col-lg-4">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h5 class="card-title text-top text-uppercase text-center">5€</h5>
              <h6 class="card-price text-center">500<img src="/images/devise.png" width="50" height="50" class="align-center"></h6>
              <hr>
              <img class="illu mx-auto d-block" src="/images/pack/3.png">
              <a href="/acheter-points/500" class="btn btn-block">Acheter</a>
            </div>
          </div>
        </div>
        <!-- Plus Tier -->
        <div class="col-lg-4">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h5 class="card-title text-top text-uppercase text-center">10€</h5>
              <h6 class="card-price text-center">1000<img src="/images/devise.png" width="50" height="50" class="align-center"></h6>
              <hr>
              <img class="illu mx-auto d-block" src="/images/pack/2.png">
              <a href="/acheter-points/1000" class="btn btn-block">Acheter</a>
            </div>
          </div>
        </div>
        <!-- Pro Tier -->
        <div class="col-lg-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-top text-uppercase text-center">20€</h5>
              <h6 class="card-price text-center">2000<img src="/images/devise.png" width="50" height="50" class="align-center"></h6>
              <hr>
              <img class="illu mx-auto d-block" src="/images/pack/1.png">
              <a href="/acheter-points/2000" class="btn btn-block">Acheter</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>