<%-include('./includes/header.ejs')%>
</head>
<%-include('./includes/navigation.ejs')%>

<body>
  <div class="container">
    <%-include('./liste-trajets.ejs')%>
  </div>
</body>
<%-include('./includes/footer.ejs')%>

</html>