#map {
    height: 445px;
    border-radius: 10px;
}

.adresse {
    width: 100%;
    border-radius: 5px 5px 5px 5px;
    border: none;
    padding: 10px;
    margin-bottom: 15px;
}

.pac-item {
    height: 75px;
    font-size: 13px;
}

.pac-item-query {
    font-size: 15px;
    margin-top: auto;
    margin-bottom: auto;
}

.pac-container {
    border-radius: 5px 5px 10px 10px;
    padding-bottom: 5px;
}

.adresse:focus {
    outline: none;
}

.pac-icon {
    display: none;
}

/* .controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.pac-container {
    font-family: Roboto;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
} */