<%-include('../includes/header.ejs')%>
  </head>
  <%-include('../includes/navigation.ejs')%>
  <body>
    <h1>Votre demande de trajet a bien été prise en compte</h1>
    <p>Nous allons contacter des conducteurs susceptible de vous transporter</p>
  </body>
</html>
