<%-include('../includes/header.ejs')%>
<!-- Google Maps JavaScript library -->

<link rel='stylesheet' href='/stylesheets/map.css' />
</head>
<%-include('../includes/navigation.ejs')%>

<body>

    <div class="container">
        <h1>Quand souhaitez vous partir ?</h1>
        <form method="post" action="/demander-date">
            <label>Date</label>
            <input required class="form-control datepick" type="text" id="datepicker" name="date" autocomplete="off">
            <div class="row">
                <div class="col-md-12">
                    <div id="content"></div>
                </div>
            </div>

            <input type='hidden' name="trajetId" value="<%=trajet._id%>">
            <Button type='submit'>Suivant</Button>
        </form>
    </div>

</body>
<script>
    $('#datepicker').datepicker({
        altField: "#datepicker",
        closeText: 'Fermer',
        prevText: 'Précédent',
        nextText: 'Suivant',
        currentText: 'Aujourd\'hui',
        monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre',
            'Octobre', 'Novembre', 'Décembre'
        ],
        monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.',
            'Nov.', 'Déc.'
        ],
        dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
        dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
        dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
        weekHeader: 'Sem.',
        dateFormat: 'dd/mm/yy'
    });
</script>
<%-include('../includes/footer.ejs')%>

</html>