<%-include('../includes/header.ejs')%>
<!-- Google Maps JavaScript library -->

<link rel='stylesheet' href='/stylesheets/map.css' />
</head>
<%-include('../includes/navigation.ejs')%>

<body>
    <h1>Où souhaitez vous aller ?</h1>


    <form method="post" action="/demander-arrivee">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <input id="pac-input" class="controls adresse" type="text" placeholder="Adresse d'arrivée" name="depart">
                </div>
                <div class="col-12 col-lg-6">
                    <div id="map"></div>
                </div>
            </div>
            <div style="text-align: center;width: 100%;">
                <Button type='submit' id='suivant' class="btn suivant">Suivant</Button>
            </div>
            <br>
            <input type="hidden" id='ville' name="ville">
            <input type="hidden" id='adresse' name="adresse">
            <input type="hidden" id='cp' name="cp">
            <input type='hidden' name="trajetId" value="<%=trajet._id%>">
            
        </div>


    </form>
    </div>
    <!--End of row-->
    </div>
    <!--End of conatiner-->
    <script type="text/javascript">
        window.addEventListener('keydown', function (e) {
            if (e.keyIdentifier == 'U+000A' || e.keyIdentifier == 'Enter' || e.keyCode == 13) {
                if (e.target.nodeName == 'INPUT' && e.target.type == 'text') {
                    e.preventDefault();
                    return false;
                }
            }
        }, true);

        $(".adresse").keydown(function () {
            document.getElementById("suivant").style.display = "none";
        })
    </script>
    <!-- le script ci dessus permet de désactiver l envoi du form avec la touche entrée -->
    <script>
        function initMap() {
            document.getElementById("suivant").style.display = "none";
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {
                    lat: 48.197967,
                    lng: 3.282821
                },
                zoom: 12.6,
                disableDefaultUI: true,
            });
            var input = /** @type {!HTMLInputElement} */ (
                document.getElementById('pac-input'));

            var types = document.getElementById('type-selector');
            // map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
            map.controls[google.maps.ControlPosition.TOP_LEFT].push(types);

            var autocomplete = new google.maps.places.Autocomplete(input);
            autocomplete.bindTo('bounds', map);

            var infowindow = new google.maps.InfoWindow();
            var marker = new google.maps.Marker({
                map: map,
                anchorPoint: new google.maps.Point(0, -29)
            });

            autocomplete.addListener('place_changed', function () {
                infowindow.close();
                marker.setVisible(false);
                var place = autocomplete.getPlace();

                // If the place has a geometry, then present it on a map.
                if (place.geometry.viewport) {
                    map.fitBounds(place.geometry.viewport);
                    document.getElementById("suivant").style.display = "initial";
                } else {
                    map.setCenter(place.geometry.location);
                    map.setZoom(13); // Why 17? Because it looks good.
                }
                marker.setIcon( /** @type {google.maps.Icon} */ ({
                    url: place.icon,
                    size: new google.maps.Size(71, 71),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(17, 34),
                    scaledSize: new google.maps.Size(35, 35)
                }));
                marker.setPosition(place.geometry.location);
                marker.setVisible(true);

                var item_Lat = place.geometry.location.lat()
                var item_Lng = place.geometry.location.lng()
                var item_Location = place.formatted_address;


                $('#ville').val(place.address_components.find(element => element.types[0] === "locality")
                    .long_name) //ville
                $('#cp').val(place.address_components.find(element => element.types[0] === "postal_code")
                    .long_name) //ville
                $('#adresse').val(place.address_components.find(element => element.types[0] === "street_number")
                    .long_name + " " + place.address_components.find(element => element.types[0] ===
                        "route").long_name)


                var address = '';
                if (place.address_components) {
                    address = [
                        (place.address_components[0] && place.address_components[0].short_name || ''),
                        (place.address_components[1] && place.address_components[1].short_name || ''),
                        (place.address_components[2] && place.address_components[2].short_name || '')
                    ].join(' ');
                }

                infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
                infowindow.open(map, marker);
            });

            // Sets a listener on a radio button to change the filter type on Places
            // Autocomplete.
            // function setupClickListener(id, types) {
            //     var radioButton = document.getElementById(id);
            //     radioButton.addEventListener('click', function () {
            //         autocomplete.setTypes(types);
            //     });
            // }

            // setupClickListener('changetype-all', []);
            // setupClickListener('changetype-address', ['address']);
            // setupClickListener('changetype-establishment', ['establishment']);
            // setupClickListener('changetype-geocode', ['geocode']);
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%=GOOGLE_API_KEY%>&libraries=places&callback=initMap"
        async defer></script>
</body>

</html>