<%-include('../includes/header.ejs')%>
</head>
<%-include('../includes/navigation.ejs')%>

<body>
  <h1>Espace Conducteur</h1>

  <div class="row" style="padding-left: 10px;padding-right: 10px; ">
    <div class="col-lg-4">
      <div class="my-card rubrique" style="margin-bottom: 10px;">
        <h4>Actualités</h4>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="my-card rubrique" style="margin-bottom: 10px;">
        <h4>Les demandes de trajet</h4>
        <div style="overflow: auto;height: 500px;">
          <%-include('../liste-trajets.ejs')%>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="my-card rubrique">
        <h4>Mes actions</h4>
      </div>
    </div>
  </div>

</body>

</html>