<%-include('../includes/header.ejs')%>
  </head>
  <%-include('../includes/navigation.ejs')%>
  <body>
    <h1>Trajet validé, merci d'avoir utilisé Aller-Retour pour partager vos trajets</h1>
    <div class="container">
    </div>
  </body>
</html>
