<link rel='stylesheet' href='/stylesheets/admin-nav.css'/>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: grey; height: 50px;">
    <a class="navbar-brand" href="/admin">
        Espace Administrateur
    </a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a style="color: white;" class="nav-item nav-link active" href="/admin/verifier-papiers">Vérifier papiers</a>
            <a style="color: white;" class="nav-item nav-link active" href="/admin/promouvoir-commercant">Promouvoir commerçant</a>
        </div>
    </div>
</nav>